header{
    height: 100vh;
    background-color: $mainColor;
    div{
        background-color:pink;
        width:1333px / 2px *100%;
        p{
            @include fontStyle(24px,"bold",green,"Arial")
            span{
                color:$mainColor;
            }
        }
        span{
            color:$mainColor;
        }
    }
    p{
        @include fontStyle (50px,100,white,"Times New Roman")
    }
    button{
        @extend %buttonStyle;
    }
}

@if ($mainColor == red){
    header div{
        background-color:blue;
    }
}@else{
    header div{
        background-color:green;
    }
}